@charset "utf-8";
/* CSS Document */


/*----------------------------   登录   -------------------------*/
.login_bar{ width:100%; height:100%;}
.login_logo{ height:2.6rem; margin:1.3rem auto;}
.login_con{ padding:0px 1.3rem; width:100%;}
.login_con .jui_public_list{ width:100%; background:#344883; margin-bottom:.4266rem; border:none; height:1.17333rem;}
.login_con .jui_public_list input{ line-height:1.1rem; font-size:.37333rem; color:#fff;}
.login_con .jui_public_btn{ padding:0rem;}
.login_con .jui_public_btn input{background:#3c5dc1;}
.login_link{ padding-bottom:1.1733rem;}


/*----------------------------   注册   -------------------------*/
.login_con h1{ font-size:.5333rem; font-weight:normal; padding:1.3rem 0px;}
.reg_yzm{border-left:1px solid #afbde8; height:.6rem; line-height:.6rem!important; font-size:.32rem!important; text-align:center;
	-webkit-flex:0 0 2.4rem;
	-moz-flex:0 0 2.4rem;
	-ms-flex:0 0 2.4rem;
	flex:0 0 2.4rem;
}

/*----------------------------   推荐注册   -------------------------*/
.tjreg_con{ padding:0px 1.3rem; width:100%;}
.tjreg_con .jui_public_list{ background:#fff; margin-bottom:.4266rem; border:1px solid #eee;}
.tjreg_con .jui_public_list input{ line-height:1.1rem; font-size:.37333rem;}
.tjreg_con .jui_public_btn{ padding:0rem;}
.tjreg_con .reg_yzm{border-left:1px solid #2d3d6d;}


/*----------------------------   下载提示   -------------------------*/
.down_zy{ position:absolute; z-index:5; top:-15px; right:.12rem; width:.5866rem;}
.down_tishi{ background:#000; padding:.42666rem; padding-right:.8rem;}
.down_btn{ width:60%; margin:0px auto; height:1.333rem;}
.down_icon{ width:.77rem; height:.77rem; margin-right:.32rem;}


/*----------------------------   首页   -------------------------*/
/* 轮播图 */
.banner_bar{ height:1.4rem;}
.banner_con{ position:relative; margin-top:-1.4rem;}
.swiper-container{ overflow:hidden;}
.swiper-slide img{ width:100%;}

/*近期还款*/
.sy_hk_bar{ padding:0rem .42666rem; padding-bottom:.16rem; position:relative; margin-top:.48rem;}
.sy_hk_tit{ background:center url(../icons/tit_bg.png) no-repeat; background-size:100%; position:absolute; left:50%; margin-left:-1.38rem; top:-0.48rem; color:#fff; width:2.76rem; height:.96rem; text-align:center; line-height:.96rem;}
.sy_hk_con{ padding:.32rem; padding-top:.8rem;}


/*特色产品*/
.sy_tscp_img{ width: 3.33rem; height: 2.3rem;}
.sy_tscp_list{ background:#fff; margin-bottom:.32rem; height:2.3rem;}
.sy_tscP_left{ font-size:.48rem; color:#fff;
	-webkit-flex:0 0 3.33rem;
	-moz-flex:0 0 3.33rem;
	-ms-flex:0 0 3.33rem;
	flex:0 0 3.33rem;
}
.tscp_bg01{
background: -webkit-linear-gradient(left bottom,#ea5699,#ff78b5);
background: -o-linear-gradient(left bottom,#ea5699,#ff78b5);
background: -moz-linear-gradient(left bottom,#ea5699,#ff78b5);
background: linear-gradient(left bottom,#ea5699,#ff78b5);
}
.tscp_bg02{
background: -webkit-linear-gradient(left bottom,#4090e0,#62aaf2);
background: -o-linear-gradient(left bottom,#4090e0,#62aaf2);
background: -moz-linear-gradient(left bottom,#4090e0,#62aaf2);
background: linear-gradient(left bottom,#4090e0,#62aaf2);
}
.tscp_bg03{
background: -webkit-linear-gradient(left bottom,#ef752c,#ff9656);
background: -o-linear-gradient(left bottom,#ef752c,#ff9656);
background: -moz-linear-gradient(left bottom,#ef752c,#ff9656);
background: linear-gradient(left bottom,#ef752c,#ff9656);
}
.tscp_bg04{
background: -webkit-linear-gradient(left bottom,#697dd9,#8b9df1);
background: -o-linear-gradient(left bottom,#697dd9,#8b9df1);
background: -moz-linear-gradient(left bottom,#697dd9,#8b9df1);
background: linear-gradient(left bottom,#697dd9,#8b9df1);
}

/*趣还学院*/
.sy_qhxy_bar{ padding:0rem .2666rem;}
.sy_qhxy_list{ padding:0rem .16rem; padding-bottom:.32rem;}
.sy_qhxy_img{ width:100%; height:100%;}
.sy_qhxy_img img{ width:100%; height:100%;}



/*-----------------     学院详情页     -----------------*/
.newscon_tit{ border-bottom:1px solid #eee; padding:.32rem .42666rem;}
.newscon_tit h2{ font-size:.42666rem!important; color:#000; font-weight:normal; padding-bottom:5px;}
.newscon_tit span{ font-size:.32rem; color:#999;}
.newscon_zt{ padding:.42666rem; font-size:.37333rem;}
.newscon_zt p{ font-size:.37333rem; line-height:.58666rem;}
.newscon_zt img{ width:100%;}


/*----------------------------   计划   -------------------------*/
ul.plan_tit{ width:7.733rem; height:1.17333rem; line-height:1.17333rem; background:#fff; margin:0px auto;}
ul.plan_tit li{ text-align:center; color:#2d3d6d;}
ul.plan_tit li.plan_tit_hover{ background:#415aa6; color:#fff;}
/*众筹计划*/
.plan_zcjh_con,.plan_zcjh_list{ padding:.2133rem;}
.plan_zcjh_list .jui_grid_list{ height:2rem;}
.plan_zcjh_icon{ width:.4rem; height:.4rem;}

.plan_jihuo{ padding:.32rem .4266rem; padding-top:0px;}
/*还款计划*/
.plan_hkjh_titicon{ width:.37333rem; height:.37333rem;}
.plan_con .jui_public_list{ border:none;}

.jui_progress_bar{ height:0.26rem; background:#e0e0e0; border-radius:.13rem; overflow:hidden;}
.jui_progress_bar span{ display:block; height:.26rem; background:#2d3d6d; position:relative; z-index:2; border-radius:.13rem;}
.plan_hkjh_mony{ text-align:right;
	-webkit-flex:0 0 2.8rem;
	-moz-flex:0 0 2.8rem;
	-ms-flex:0 0 2.8rem;
	flex:0 0 2.8rem;
}


/*----------------------------   收款详情   -------------------------*/
.jihuo_ewm{ width:4rem; border:1px solid #eee;}
#jihuo_fukuan{ display:inline-block; width:4rem;}
#jihuo_fukuan img{ width:100%;}


/*----------------------------   录入债务   -------------------------*/
#zhaiwu{ display:inline-block; width:4rem; min-height:4rem;}
#zhaiwu img{ width:100%; height:100%;}



/*----------------------------   我的团队   -------------------------*/
.team_list{ background:#fff; box-shadow:0 0 10px #eee; padding:.37333rem .4266rem; margin-bottom:.4266rem;}
.team_tx{ width:1.17333rem; height:1.17333rem; margin-right:.32rem;}
.team_tx img{ width:100%; height:100%;}



/*----------------------------   个人中心   -------------------------*/
.my_tx{ width:1.76rem; height:1.76rem; margin-right:.32rem;}
.my_tx img{ width:100%; height:100%;}

.my_icon{ width:.3733rem; height:.3733rem; margin-right:.2666rem;}



/*----------------------------   实名认证   -------------------------*/
.smrz_inpubar{ background:#fff; border:none; margin-bottom:.4266rem; padding:0px .32rem;}

.smrz_con input{ font-size:.4rem; color:#000;}
.smrz_img_bar{ width:6.666rem; height:4.2rem; background:center url(../icons/smrz_bg.png) no-repeat #7983a1; background-size:4.6rem auto;}
.smrz_img_bar #jui_preview,.smrz_img_bar #jui_preview2{ display:inline-block;}
.smrz_img_bar #jui_preview,.smrz_img_bar #jui_preview2{ width:4rem; height:2.52rem;}
#jui_preview img,#jui_preview2 img{ width:100%; height:100%;}


/*----------------------------   收款方式   -------------------------*/
.skfs_icon{ width:.8rem; height:.8rem; margin-right:.32rem;}
.skfs_edit{ font-size:.32rem; color:#999; border-left:1px solid #eee; padding-left:.42666rem;}
.skfs_list{ border:none; margin-bottom:.32rem;}
.skfs_add_icon{ width:.48rem; height:.48rem; margin-right:8px;}


/*----------------------------   添加收款方式   -------------------------*/
.skfs_inpubar{ background:#fff; border:none; margin-bottom:.4266rem; padding:0px .32rem;}
#shoukuan{ display:inline-block; width:4rem;}
#shoukuan img{ width:100%;}


/*----------------------------   我的验证码   -------------------------*/
.yzm_bar{ padding:.8rem .4266rem;}
.yzm_img{ width:3.6rem; height:3.6rem; border:1px solid #eee;}
.yzm_img img{ width:100%; height:100%;}
.yzm_btn{ height:1.0666rem; width:3.7333rem; margin:0rem .24rem; color:#fff;
    display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
