


.jui_none{ display:none!important;}
.jui_block{ display:block!important;}
.jui_w100{ width:100%!important;}
.jui_clearfix:after{content:".";display:block;height:0;clear: both;visibility:hidden;}


/*--------------   字体   --------------*/
.jui_fs11{ font-size:.293333rem!important;}
.jui_fs12{ font-size:.32rem!important;}
.jui_fs13{ font-size:.34666rem!important;}
.jui_fs14{ font-size:.37333rem!important;}
.jui_fs15{ font-size:.4rem!important;}
.jui_fs16{ font-size:.426666rem!important;}
.jui_fs18{ font-size:.48rem!important;}
.jui_fs20{ font-size:.5333rem!important;}
.jui_fc_fff{ color:#fff!important;}
.jui_fc_666{ color:#666!important;}
.jui_fc_000{ color:#000!important;}
.jui_fc_333{ color:#333!important;}
.jui_fc_999{ color:#999!important;}
.jui_fc_ddd{ color:#ddd!important;}
.jui_fc_red{ color:#ff384f!important;}
.jui_fc_green{ color:#3cb035!important;}
.jui_fc_blue{ color:#00aaef!important;}
.jui_fc_lightblue{ color:#3b97cd!important;}
.jui_fc_orange{ color:#ffa912!important;}
.jui_fc_zhuse{ color:#2d3d6d!important;}
.jui_fc_lightzs{ color:#afbde8!important;}
.jui_fc_lightfff{ color:rgba(255,255,255,0.5)!important;}

.jui_text_left{ text-align:left!important;}
.jui_text_center{ text-align:center!important;}
.jui_text_right{ text-align:right!important;}
.jui_font_weight{ font-weight:700;}
.jui_line_h12{ line-height:.50666rem;}/* 24/38 */
.jui_line_h13{ line-height:.5333rem;}/* 26/40 */
.jui_line_h14{ line-height:.58666rem;}/* 28/44 */
.jui_line_h15{ line-height:.61333rem;}/* 30/45 */
.jui_line_h30{ line-height:.8rem;}/* 60 */

/*--------------   背景颜色   --------------*/
.jui_bg_fff{ background:#fff!important;}
.jui_bg_grey{ background:#f9f9f9!important;}
.jui_bg_ccc{ background:#ccc!important;}
.jui_bg_green{ background:#3cb035!important;}
.jui_bg_blue{ background:#10aeff!important;}
.jui_bg_orange{ background:#ffa912!important;}
.jui_bg_none{ background:none!important;}
.jui_bg_zhuse{ background:#2d3d6d!important;}

.jui_box_shadow{ box-shadow:0px 0px 10px #eee;}

/*--------------   内边距/外边距/边框/固定高度间隔   --------------*/
.jui_bor_left{ border-left:1px solid #eee!important;}
.jui_bor_right{ border-right:1px solid #eee!important;}
.jui_bor_top{ border-top:1px solid #eee!important;}
.jui_bor_bottom{ border-bottom:1px solid #eee!important;}
.jui_bor_none{ border:none!important;}
.jui_bor_rad_5{-webkit-border-radius:5px!important; border-radius:5px!important; overflow:hidden;}
.jui_bor_rad_50{-webkit-border-radius:50%!important; border-radius:50%!important; overflow:hidden;}

.jui_pad_1216{ padding:.32rem .4266rem!important;}
.jui_pad_5{ padding:5px!important;}
.jui_pad_t5{ padding-top:5px!important;}
.jui_pad_l5{ padding-left:5px!important;}
.jui_pad_r5{ padding-right:5px!important;}
.jui_pad_b5{ padding-bottom:5px!important;}
.jui_pad_8{ padding:.32rem!important;}
.jui_pad_t8{ padding-top:.21333rem!important;}
.jui_pad_l8{ padding-left:.21333rem!important;}
.jui_pad_r8{ padding-right:.21333rem!important;}
.jui_pad_b8{ padding-bottom:.21333rem!important;}
.jui_pad_12{ padding:.32rem!important;}
.jui_pad_t12{ padding-top:.32rem!important;}
.jui_pad_l12{ padding-left:.32rem!important;}
.jui_pad_r12{ padding-right:.32rem!important;}
.jui_pad_b12{ padding-bottom:.32rem!important;}
.jui_pad_14{ padding:.37333rem!important;}
.jui_pad_t14{ padding-top:.37333rem!important;}
.jui_pad_l14{ padding-left:.37333rem!important;}
.jui_pad_r14{ padding-right:.37333rem!important;}
.jui_pad_b14{ padding-bottom:.37333rem!important;}
.jui_pad_16{ padding:.42666rem!important;}
.jui_pad_t16{ padding-top:.42666rem!important;}
.jui_pad_l16{ padding-left:.42666rem!important;}
.jui_pad_r16{ padding-right:.42666rem!important;}
.jui_pad_b16{ padding-bottom:.42666rem!important;}
.jui_pad_20{ padding:.5333rem!important;}
.jui_pad_t20{ padding-top:.5333rem!important;}
.jui_pad_l20{ padding-left:.5333rem!important;}
.jui_pad_r20{ padding-right:.5333rem!important;}
.jui_pad_b20{ padding-bottom:.5333rem!important;}
.jui_padnone{ padding:0px!important;} 
.jui_pad_lnone{ padding-left:0px!important;} 
.jui_pad_rnone{ padding-right:0px!important;}
.jui_pad_tnone{ padding-top:0px!important;} 
.jui_pad_bnone{ padding-bottom:0px!important;}
.jui_mar_8{ margin:.32rem!important;}
.jui_mar_t8{ margin-top:.21333rem!important;}
.jui_mar_l8{ margin-left:.21333rem!important;}
.jui_mar_r8{ margin-right:.21333rem!important;}
.jui_mar_b8{ margin-bottom:.21333rem!important;}
.jui_mar_12{ margin:.32rem!important;}
.jui_mar_t12{ margin-top:.32rem!important;}
.jui_mar_l12{ margin-left:.32rem!important;}
.jui_mar_r12{ margin-right:.32rem!important;}
.jui_mar_b12{ margin-bottom:.32rem!important;}
.jui_mar_14{ margin:.37333rem!important;}
.jui_mar_t14{ margin-top:.37333rem!important;}
.jui_mar_l14{ margin-left:.37333rem!important;}
.jui_mar_r14{ margin-right:.37333rem!important;}
.jui_mar_b14{ margin-bottom:.37333rem!important;}
.jui_mar_16{ margin:.42666rem!important;}
.jui_mar_t16{ margin-top:.42666rem!important;}
.jui_mar_l16{ margin-left:.42666rem!important;}
.jui_mar_r16{ margin-right:.42666rem!important;}
.jui_mar_b16{ margin-bottom:.42666rem!important;}
.jui_mar_20{ margin:.5333rem!important;}
.jui_mar_t20{ margin-top:.5333rem!important;}
.jui_mar_l20{ margin-left:.5333rem!important;}
.jui_mar_r20{ margin-right:.5333rem!important;}
.jui_mar_b20{ margin-bottom:.5333rem!important;}
.jui_marnone{ margin:0px!important;}
.jui_mar_lnone{ margin-left:0px!important;} 
.jui_mar_rnone{ margin-right:0px!important;}
.jui_mar_tnone{ margin-top:0px!important;} 
.jui_mar_bnone{ margin-bottom:0px!important;}


.jui_h12{ height:.32rem; width:100%;}
.jui_h16{ height:.42666rem; width:100%;}
.jui_h20{ height:.5333rem; width:100%;}
.jui_h30{ height:.8rem; width:100%;}
.jui_h60{ height:1.6rem; width:100%;}
.jui_h80{ height:2.1333rem; width:100%;}
.jui_h100{ height:2.6666rem; width:100%;}

/*--------------   宫格排版  --------------*/
.jui_grid_w20{ width:20%;}
.jui_grid_w25{ width:25%;}
.jui_grid_w33{ width:33.333%;}
.jui_grid_w50{ width:50%;}
.jui_grid_list{ padding:.42666rem .16px; position:relative;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex; 
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.jui_grid_icon{ width:.8rem; height:.8rem; margin-bottom:.21333rem;}
.jui_grid_list .jui_badge{ position:absolute; left:50%; top:.24rem; margin-left:0.14rem;}

/*标签*/
/*标签*/
.jui_tag{ height:.48rem; line-height:.48rem; padding:0px .16rem; -webkit-border-radius:5px; border-radius:5px; color:#fff; font-size:.32rem;}
.jui_dot{ width:.21333rem; height:.21333rem; -webkit-border-radius:50%; border-radius:50%; background:#eb4340;}
.jui_badge{ height:.42666rem; min-width:.42666rem; font-size:.2666rem; padding:0px .10666rem; -webkit-border-radius:.21333rem; border-radius:.21333rem; background:#eb4340; color:#fff;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex; 
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.jui_arrow_rimg{ height:.32rem;}
/*单选多选*/
.jui_form_radio,.jui_form_check{ width:.5333rem; height:.5333rem; border:2px solid #eee; background:#fff; border-radius:50%; -webkit-border-radius:50%;}
.jui_form_check{ border-radius:2px; -webkit-border-radius:2px;}
.jui_form_radio:checked,.jui_form_check:checked{ background:url(../icons/checked.png) center no-repeat #2d3d6d; background-size:.34rem auto; border:2px solid #003950;}
.jui_form_disable{ background:url(../icons/checked.png) center no-repeat #ddd; background-size:.34rem auto; border:none;}



/*--------------   超出隐藏   --------------*/
.jui_ellipsis_1{overflow:hidden; text-overflow:ellipsis; white-space: nowrap; word-break: break-all;}
.jui_ellipsis_2{ overflow: hidden; text-overflow:ellipsis; display:-webkit-box;  -webkit-line-clamp:2;  -webkit-box-orient:vertical;}

  

/*--------------   flex布局   --------------*/
.jui_flex,.jui_flex_col,.jui_flex_row_center,.jui_flex_col_center,.jui_footer{
	display: box;              /* OLD - Android 4.4- */
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */	
}
.jui_flex_col,.jui_flex_col_center{
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
}
.jui_flex_row_center,.jui_flex_col_center,.jui_flex_items_center{
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}
.jui_flex_items_end{
	-webkit-align-items:flex-end; 
	-moz-align-items:flex-end;
	-ms-align-items:flex-end;
	align-items:flex-end;
}
.jui_flex_justify_center{
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.jui_flex_justify_between{
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
}
.jui_flex_justify_end{
	-webkit-justify-content:flex-end;
	-moz-justify-content:flex-end;
	-ms-justify-content:flex-end;
	justify-content:flex-end;
}
.jui_flex_wrap{
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.jui_flex1{
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1;
}
.jui_flex_no{
	-webkit-flex:0 0 auto;
	-moz-flex:0 0 auto;
	-ms-flex:0 0 auto;
	flex:0 0 auto;
}
.jui_align_self_end{
	-webkit-align-self:flex-end;
	-moz-align-self:flex-end;
	-ms-align-self:flex-end;
	align-self:flex-end;
}
.jui_align_self_center{
	-webkit-align-self:center;
	-moz-align-self:center;
	-ms-align-self:center;
	align-self:center;
}


/*--------------   公共列表   --------------*/
.jui_public_list,.jui_public_list2{
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex; 
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
}
/*固定高度100*/
.jui_public_list{ border-bottom:1px solid #eee; padding:0px .42666rem; height:1.33333rem; overflow:hidden;}
.jui_public_list:nth-last-child(1){ border:none;}
.jui_public_list input{ line-height:1.3rem;}
.jui_public_list input[type='checkbox'],.jui_public_list input[type='radio']{ line-height:0px;}/*与.form_radio高度一样即可*/
/*不固定高度*/
.jui_public_list2{ border-bottom:1px solid #eee; padding:.32rem .42666rem;}
.jui_public_list2:nth-last-child(1){ border:none;}



/*--------------   公共标题   --------------*/
.jui_public_tit{
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
}
.jui_public_tit{ padding:.32rem .42666rem;}



/*--------------   公共按钮   --------------*/
.jui_public_btn{ padding:.42666rem;}
.jui_public_btn input,.jui_public_btn a,.jui_public_btn button{ display:block; width:100%; height:1.17333rem; line-height:1.17333rem; text-align:center; background:#2d3d6d; color:#fff; font-size:.4rem; -webkit-border-radius:5px; border-radius:5px;}



/*--------------   固定头部   --------------*/
.jui_top_bar,.jui_top_left,.jui_top_right{
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
}
.jui_top_bar{ height:1.17333rem; line-height:1.17333rem; padding:0px 0.37333rem; background:#2d3d6d; }
.jui_top_left,.jui_top_right{ width:20%;}
.jui_top_left img{ display:inline-block; height:.45333rem;}
.jui_top_left span{ font-size:.32rem; color:#fff; padding-left:.16rem;}
.jui_top_middle{ width:60%; text-align:center; overflow:hidden;text-overflow:ellipsis;white-space: nowrap; color:#fff; font-size:0.42666rem;}
.jui_top_right{ font-size:0.32rem; color:#000; cursor:pointer;
	-webkit-justify-content:flex-end;
	-moz-justify-content:flex-end;
	-ms-justify-content:flex-end;
	justify-content:flex-end;
}
.jui_top_right img{ height:.5333rem;}


/*--------------   固定底部   --------------*/
.jui_footer{ position:fixed; z-index:5; bottom:0px; left:0px; right:0px; height:1.30666rem; background:#fff; border-top:1px solid #eee;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
}
.jui_foot_list{
	-webkit-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex-flex:1;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	position:relative;
}
.jui_foot_list span{ color:#999; font-size:.64rem;}
.jui_foot_list p{ font-size:.293333rem; color:#666;}
.jui_foot_list.jui_hover span,.jui_foot_list.jui_hover p{ color:#003950;}
.jui_foot_list .jui_badge{ position:absolute; left:50%; top:0px; margin-left:0.14rem;}

.jui_foot_list b{ width:.64rem; height:.64rem; background-size:.5333rem;}
.foot_index{ background:center url(../icons/nav_icon01.png) no-repeat;}
.foot_plan{ background:center url(../icons/nav_icon02.png) no-repeat;}
.foot_team{ background:center url(../icons/nav_icon03.png) no-repeat;}
.foot_my{ background:center url(../icons/nav_icon04.png) no-repeat;}
.jui_foot_list.jui_hover .foot_index{ background:center url(../icons/nav_icon01_hover.png) no-repeat; background-size:.64rem;}
.jui_foot_list.jui_hover .foot_plan{ background:center url(../icons/nav_icon02_hover.png) no-repeat; background-size:.64rem;}
.jui_foot_list.jui_hover .foot_team{ background:center url(../icons/nav_icon03_hover.png) no-repeat; background-size:.64rem;}
.jui_foot_list.jui_hover .foot_my{ background:center url(../icons/nav_icon04_hover.png) no-repeat; background-size:.64rem;}




/*--------------   没有记录   --------------*/
.jui_none_bar{ padding-top:2rem;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}
.jui_none_bar img{ width:2.6rem; margin-bottom:10px;}
.jui_none_bar p{ font-size:.4rem; color:#999;}
.jui_none_link{ margin-top:.32rem; width:3.6rem; height:.906666rem; border:1px solid #003950; color:#003950; -webkit-border-radius:4px; border-radius:4px; font-size:.4rem;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex; 
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;	
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}

/*--------------   遮蔽罩/弹出框  --------------*/
.jui_box_bar{background:rgba(0,0,0,0.5); position:fixed; z-index:999; left:0px; top:0px; width:100%; height:100%;
	display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.jui_box_conbar{position:relative; width:6.4rem;}
.jui_box_con{ background:#fff; -webkit-border-radius:10px; border-radius:10px; overflow:hidden;}
.jui_box_top img{ width:100%;}


/*普通弹出框*/
.jui_box_pub_tit{ width:100%; text-align:center; color:#000; padding:.42666rem; font-size:.42666rem;}
.jui_box_pub_middle{ text-align:center; line-height:.58666rem; padding:0rem .42666rem; font-size:.37333rem; color:#999;}
.jui_box_btn{ height:.8rem; width:2.4rem; margin:0rem .24rem; text-align:center; border:2px solid #2d3d6d;
    display: box;              
	display: -webkit-box;    
	display: -moz-box;         
	display: -ms-flexbox;    
	display: -webkit-flex;   
	display: flex;   
	-webkit-align-items:center; 
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
a,div,img,li{ cursor: pointer;;}